@import reset
@import base
@import hashgrid
@import plugins
@import fonts
// Uncomment below to include type, grid and color stylesheets. These are included to
// keep css logically separated

// @import type
// @import grid
// @import colors

// Custom Styles go here
html
  background: url(/images/old_book_jinterwas_flickr.jpg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

body
  font-family: Helvetica, Arial, sans-serif

#content
  #width: 940px

.litsum
  width: 650px
  padding: 25px 35px
  background: white
  box-shadow: 0 0 20px black
  margin: 50px auto
  h1
    font: normal 62px/62px "DeutschGothicNormal", sans-serif
    text-align: center
  p
    margin: 15px 0
    text-align: justify
    font: normal 13px/21px "TheanoOldStyleRegular", Helvetica, sans-serif
  a.again
    font: normal 22px/22px "DeutschGothicNormal", sans-serif
    text-decoration: none
    text-align: center
    display: block
    color: black
  a.again:hover
    color: #666
  form
    width: 160px
    margin: 65px auto
    input.howmany
      width: 30px
    label
      font: normal 13px/21px "TheanoOldStyleRegular", Helvetica, sans-serif

@import handheld
@import print